<div class="about">
  <div class="profile">
    <img src="../../assets/images/selfportrait.png" alt="Profile Image">
  </div>
  <div class="bio">
    <h2>About Me</h2>
    <p>I am a student programmer aspiring to be a web developer. With a strong passion for creating visually appealing and user-friendly websites, I am dedicated to honing my skills in web development. Through continuous learning and hands-on experience, I aim to contribute to the digital world by crafting innovative and impactful web experiences.</p>
    <a href="../../assets/Apurva Raval - Resume.pdf" target="_blank">View Resume</a>
  </div>
</div>