<div class="projects">
  <section class="welcome">
    <h1>Explore Our Projects</h1>
  </section>
  <div class="project-item">
    <div class="image-container">
      <img src="../../assets/images/project1.png" alt="Project 1">
    </div>
    <div class="overlay">
      <h3>Film Sorts</h3>
      <p>Created a website that allowed reading a JSON file and sorting it using various factors. Used Arrays and javascript to display the film posters in a clean way.</p>
    </div>
  </div>
  <div class="project-item">
    <div class="image-container">
      <img src="../../assets/images/project2.png" alt="Project 2">
    </div>
    <div class="overlay">
      <h3>Cat API</h3>
      <p>Used Javascript and API to get cat pictures and have them be sorted according to their category.</p>
    </div>
  </div>
  <div class="project-item">
    <div class="image-container">
      <img src="../../assets/images/project3.png" alt="Project 3">
    </div>
    <div class="overlay">
      <h3>Fraction Calculator</h3>
      <p>Created a GUI calculator using C# that was able to perform simple functions on fractions that the user can input and display the results.</p>
    </div>
  </div>
</div>
