<mat-toolbar>
  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Menu">
    <mat-icon>menu</mat-icon>
  </button>
  <div class="logo">
    <img routerLink="home" src="./assets/images/ARLOGO.png" alt="Logo">
  </div>
  
  <span class="titleName">Apurva Raval</span>
  <span class="example-spacer"></span>
 
  <nav>
    <a routerLink="home" routerLinkActive="active">Home</a>
    <a routerLink="about" routerLinkActive="active">About</a>
    <a routerLink="projects" routerLinkActive="active">Projects</a>
    <a routerLink="services" routerLinkActive="active">Services</a>
    <a routerLink="contact" routerLinkActive="active">Contact</a>
  </nav>
</mat-toolbar>

<mat-menu #menu="matMenu" class="custom-menu">
  <button mat-menu-item routerLink="home" routerLinkActive="active">Home</button>
  <button mat-menu-item routerLink="about" routerLinkActive="active">About</button>
  <button mat-menu-item routerLink="projects" routerLinkActive="active">Projects</button>
  <button mat-menu-item routerLink="services" routerLinkActive="active">Services</button>
  <button mat-menu-item routerLink="contact" routerLinkActive="active">Contact</button>
</mat-menu>

<router-outlet></router-outlet>
