<div class="services">
  <h2 class="services-heading">Our Services</h2>
  <div class="service-item">
    <div class="image-container">
      <img src="../../assets/images/WebService.webp" alt="Service 1">
    </div>
    <div class="overlay">
      <h3>Website Development</h3>
      <p>Designing and developing websites for individuals, small businesses, or organizations. This could include creating static websites using Angular JS or Express JS.</p>
    </div>
  </div>
  <div class="service-item">
    <div class="image-container">
      <img src="../../assets/images/debug.webp" alt="Service 2">
    </div>
    <div class="overlay">
      <h3>Bug Fixing and Troubleshooting</h3>
      <p>Providing assistance to clients by identifying and fixing bugs or issues in their software projects. This could involve debugging code, analyzing error logs, or improving overall performance.</p>
    </div>
  </div>
  <div class="service-item">
    <div class="image-container">
      <img src="../../assets/images/codeReview.webp" alt="Service 3">
    </div>
    <div class="overlay">
      <h3>Code Review and Refactoring</h3>
      <p>Reviewing existing codebases, identifying areas for improvement, and refactoring code to enhance readability, maintainability, and performance.</p>
    </div>
  </div>
  <!-- Add more service items as needed -->
</div>