.home {
  text-align: center;
  padding: 40px;
  background-color: #f2f2f2;
  color: #333;
  height: 100vh;
}

.hero {
  margin-bottom: 40px;
}

.hero h1 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
}

.hero-description {
  font-size: 24px;
  margin-bottom: 30px;
  color: #e65343;
  text-transform: uppercase;
  letter-spacing: 2px;
  animation: fade 2s infinite;
}

@keyframes fade {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}


.mission {
  background-color: #f8f8f8;
  padding: 20px;
  border-radius: 10px;
}

.mission-statement {
  max-width: 600px;
  margin: 0 auto;
}

.mission-statement h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.mission-statement p {
  font-size: 16px;
  line-height: 1.5;
}

.mission-statement:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}
